body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

h4 {
  text-align: center;
  /* font-family: 'Myriad Pro', sans-serif; */
  /* font-size: 1.1667rem; */
  padding: 30px 18px 0;
  margin: 0;
}

header {
  /* position: fixed; */
  top: 0;
  width: 100%;
}

nav {
  background-color: #E6E6E6;
  width: 100%;
  height: 80px;
  position: relative;
  border-bottom: solid;
  border-width: thin;
  border-color: #666666;
  display: inline-flex;
}

.brand-id {
  max-width: 200px;
  display: inline-block;
}

.logo_id {
  width: 80%;
  padding: 10px 20px;
}

.searchbox {
  font-size: 1.375rem;
  color: #666666;
  background-color: #f2f2f2;
  width: 276px;
  height: 39px;
  margin-top: 17px;
  border-radius: 6.136px;
  border-style: none;
  position: absolute;
  right: 24px;
}

input {
  color: #666666;
  background-color: #E6E6E6;
  border-radius: 6.136px;
  border-style: none;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  height: 50px;
}

.sidebar {
  width: 25%;
  height: auto;
  background: #f2f2f2;
  border-right: solid;
  border-width: thin;
  border-color: #666666;
  display: inline-block;
  /* float: left; */
  vertical-align: top;
  padding: 30px 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing:border-box;
}

.right-bar {
  width: 25%;
  height: auto;
  background: #f2f2f2;
  border-left: solid;
  border-width: thin;
  border-color: #666666;
  display: inline-block;
  /* float:left; */
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing:border-box;

}

.mid-section {
  width: 49%;
  height: auto;
  display: inline-block;
  background: #f2f2f2;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* float: left; */
  vertical-align: top;
}

.feed, .li-event {
  font-size: 10pt;
  color: #666666;
  padding: 10px 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.li-event {
  padding: 5px;
}

article {
  padding: 25px 0;
  border-bottom-style: solid;
  border-width: thin;
  border-color: silver;
}

img {
  width: 100%;
}

.event {
  text-align: center;
}

footer {
  background-color: #E6E6E6;
  width: 100%;
  height: 170px;
  /* clear: left; */
}

.foot-info {
  display: inline-block;
  list-style: none;
  margin-top: 50px;
}
