body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  width: 100%;
  height: auto;
  position: relative;
}

a {
  text-decoration: none;
  color: #666666;
}

a:hover, p>a:hover,div>a>img+p:hover {
  color: #ab46d2;
}

 /* div>a>img+p:hover {
  color: orange;
} */

h4 {
  text-align: center;
  margin: 0;
  padding-top: 25px;
  /* margin-bottom: 5px; */
  /* font-family: 'Myriad Pro', sans-serif; */
  /* font-size: 1.1667rem; */
  /* padding: 30px 18px 0; */
  /* margin: 0; */
}

header {
  /* position: fixed; */
  top: 0;
  width: 100%;
}

nav {
  background-color: #E6E6E6;
  width: 100%;
  height: auto;
  padding-bottom: 5px;
  position: relative;
  border-bottom: solid;
  border-width: thin;
  border-color: #666666;
  display: inline-flex;
}

.brand-id {
  width: 14.8148148%;
  display: inline-block;
}

.logo_id {
  width: 80%;
  padding: 10px 20px;
}

.searchbox {
  font-size: 1.375rem;
  color: #666666;
  background-color: #f2f2f2;
  width: 20.444444%;
  height: 58.208955%;
  margin-top: 17px;
  border-radius: 6.136px;
  border-style: none;
  position: absolute;
  right: 24px;
}

@media screen and (max-width:390px) {
  .brand-id {
    width: 40%;
  }
  .searchbox {
    display: none;
  }
}

/* input {
  color: #666666;
  background-color: #E6E6E6;
  border-radius: 6.136px;
  border-style: none;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  height: 50px;
} */

.left-bar {
  width: 25%;
  background: #f2f2f2;
  border-right: solid;
  border-width: thin;
  border-color: #666666;
  /* display: inline-block; */
  float: left;
  vertical-align: top;
  padding: 0;
  padding-bottom: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing:border-box;
  /* overflow: scroll; */
}


@media screen and (max-width: 390px) {
  .left-bar {
    width: 100%;
    border-right: 0;
  }
}


.right-bar,.right-bar-column {
  width: 25%;
  height: auto;
  background: #f2f2f2;
  border-left: solid;
  border-width: thin;
  border-color: #666666;
  /* display: inline-block; */
  float:left;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing:border-box;
}

/* .right-bar-column {
  position: absolute;
  right: 0;
} */

@media screen and (max-width:390px){
  .right-bar {
    width: 100%;
    border-left: 0;
  }
}

.mid-section, .column-section {
  width: 50%;
  height: auto;
  /* display: inline-block; */
  background: #f2f2f2;
  padding: 20px 1.9%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: top;
}

@media screen and (max-width:390px){
  .mid-section {
    width: 100%;
    padding: 0;
  }
  .article-link,h1 {
    padding-left: 1.9%;
    padding-right:1.9%;
    font-size: 10pt;
  }

}

.feed, .li-event {
  font-size: 10pt;
  color: #666666;
  padding: 10px 1.9%;
  margin: 0;
}

.li-event {
  padding: 5px;
}

.event {
  text-align: center;
}

article {
  padding: 10px 0;
  /* border-bottom-style: solid; */
  border-width: thin;
  border-color: silver;
}

img {
  width: 100%;
}

.img-blog {
  border-radius: 10px;
}

@media screen and (max-width:390px){
  .img-blog {
    border-radius: 0;
  }
}

footer {
  border-top-width: thin;
  border-top-style: solid;
  border-color: #666666;
  background-color: #E6E6E6;
  width: 100%;
  height: auto;
  position: relative;
  clear: both;
}

.foot-info {
  display: inline-block;
  list-style: none;
  margin-top: 100px;
}

/* .column-section {
  margin: 0 auto;
  min-width: 300px;
} */

@media screen and (max-width:390px) {
  .star-game {
    display: none;
  }
}


.column {
  color: #666666;
}

.soccer, .tennis {
  background: green;
}

.basketball {
  background: #d63200;
}

.football {
  background: #388caf;
}

.soccer, .basketball, .football, .tennis {
  color: white;
  padding: 15px 0;
}

.li-event > a {
  color: white;
}

.sports, .news {
  padding-bottom: 40px;
}

/* h4 + p {
  color: white;
} */


.footer-small {
  padding-left: 40px;
}
